<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Panel WAGO – Logowanie</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <!-- PANEL LOGOWANIA -->
    <div v-if="!zalogowany" class="login-box">
      <h2>Logowanie</h2>
      <input type="text" v-model="login" placeholder="Login">
      <input type="password" v-model="haslo" placeholder="Hasło">
      <button @click="zaloguj">Zaloguj</button>
      <div v-if="blad" class="error">{{ blad }}</div>
    </div>

    <!-- PANEL GŁÓWNY -->
    <div v-else class="panel">
      <h1>Witaj, {{ login }}!</h1>
      <button @click="wyloguj">Wyloguj</button>
      <h2>Aktualny czas</h2>
      <table>
        <tr>
          <th>Strefa</th>
          <th>Czas</th>
        </tr>
        <tr v-for="(czas, strefa) in czasy" :key="strefa">
          <td>{{ strefa }}</td>
          <td>{{ czas }}</td>
        </tr>
      </table>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>
